version '3.9'

services:
    db:
        image: mysql:8.0
        container_name: messaging_db
        restart: always
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        ports:
            -"3306:3306"
        volumes:
            -"mysql_data:/var/lib/mysql"

    web:
        build: .
        container_name: messaging_web
        command: python manage.py runserver 0.0.0.0:8000
        volumes: 
            - .:/app
        ports:
            - "8000:8000"
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_HOST: ${MYSQL_HOST}
            MYSQL_PORT: ${MYSQL_PORT}
        depends_on:
            - db

volumes:
    mysql_data:

python3 manage.py runserver